<div class="container-fluid">
  <div class="col-md-2" style="padding-left: 3px !important;padding-right: 3px!important;">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-10" style="padding-left: 3px !important;padding-right: 3px!important;">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">

        </h3>
      </div>
      <div class="panel-body">
        <router-outlet>
          
        </router-outlet>
      </div>
    </div>

  </div>
</div>


